<div>
  <div class="title">
    <!-- <h1>Detalles del Producto</h1> -->
    <div class="name-favorite">
      <h1>{{ product.name }}</h1>
      <button (click)="favorite()">
        <mat-icon>{{ favoriteFill }}</mat-icon>
      </button>
    </div>
  </div>

  <swiper
    [config]="config"
    class="mySwiper"
    >
    <ng-template swiperSlide *ngFor="let img of product.images">
      <div class="image" >
        <img [src]="img.url" >
      </div>
    </ng-template>

  </swiper>

  <div class="product-detail">
    <div class="stars">
      <ngx-star-rating [id]="'rating'"></ngx-star-rating>
    </div>

    <div class="detail">
      <p>{{ product.description }}</p>
    </div>

    <div class="price">
      <p>Precio <strong>{{ product.price | currency: "ARS" }}</strong></p>
    </div>

    <div class="contenedor-cant-error">
      <div class="cant-group">
        <span class="word-cant"><strong>Cantidad</strong></span>
        <div class="botones">
          <button (click)="handleProduct('remove')"><strong>-</strong> </button>
          <input type="text" disabled [value]="productQuantity">
          <button (click)="handleProduct('add')"><strong>+</strong></button>
        </div>
      </div>

      <div class="error container" id="error">
        <p class="removeError"><strong>No se puede descontar más productos</strong></p>
      </div>
    </div>

    <div class="button">
      <button>Agregar a la Bolsa</button>
    </div>
  </div>

</div>
