<app-nav-bar></app-nav-bar>
<section>
    <div class="container me">
        <h1 class="hello">Hola, name</h1>
        <img class="profileImg" src={{img}} alt="profileImg">       
    </div>
    <div class="buttons-group text-center">
        <div class="row gap-2 mx-auto">
          <button class="col-4 btn btn-secondary col">Column</button>
          <button class="col-4 btn btn-secondary col">Column</button>
          <button class="col-4 btn btn-secondary col">Column</button>
          <button class="col-4 btn btn-secondary col">Column</button>
        </div>
      </div>

      <app-products-carrusel [visibleCarrusel]="true" title="Comprar otra vez" ></app-products-carrusel>
  
</section>

<app-footer></app-footer>