
#image{
     border-radius: 10px;
    }


    @media screen and (min-width: 1700px){
            
        section{
            padding: 0px;
        }
        
        
            .carrusel-title{
                margin: 10px 10px;
            }
            
            .carrusel{
                padding: 20px;
                width: 1200px;
                height: 700px;
                margin: auto;
            }
            .product-swiper{
                width: 1000px;
                height: 640px;
            }
            .contenedor-productos{
                display: flex;
            }
            
            #image{
                width: 100%;
                height: 60vh;
            }

            #contenedor-name{
                margin: 10px 0px 0px 20px;              
            }
            #product-name{
                          
                font-size: 24px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
            }
            
        }
  
    @media screen and (max-width: 500px) {
    
        .carrusel-body{
            padding: 10px;
            width: 100vw;
            height: 110vw;
        }
    
        .product-swiper{
            width: 90vw;
            height: 280px;
        }
    
        .contenedor-productos{
            height: 110px;
            width: 80px;
            display: flex;
            justify-content: center;
        }
        .image{
            height: 90vw;
            width: 90vw;
        }
        .image>img{
            width: 100%;
            height: 90%;
            object-fit: cover;
        }
        
        
    }