<form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" autocomplete="off">    
    <!----Ingrese la contraseña--->
    <div class="field">
      <label class="label" for="password">Contraseña</label>
      <input [type]="ocultar?'password':'text'" id="password" name="password" formControlName="password" class="input-password form-control" [ngClass]="{'is-valid':!Password?.errors&&Password?.touched}"/>
      <label class="eye-icon" for="password"><i [class]="ocultar ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="ocultar = !ocultar"></i></label>
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
          Ingrese su contraseña
        </p>
        <p *ngIf="Password?.hasError('minlength')" class="text-danger">
          La contraseña debe tener como mínimo 8 caracteres
        </p>
        <p *ngIf="Password?.hasError('maxlength')" class="text-danger">
          La contraseña debe tener como máximo 22 caracteres
        </p>
        <p *ngIf="Password?.hasError('pattern')" class="text-danger">
          La contraseña debe contener al menos un número y una letra mayúscula
        </p>
      </div>
    </div>
     <!----Repetir contraseña--->
     <!----
     <div class="field">
      <label class="label" for="confirmPassword">Repetir contraseña</label>
      <input [type]="ocultar?'password':'text'" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="input-password form-control" [ngClass]="{'is-valid':!ConfirmPassword?.errors&&ConfirmPassword?.touched}"/>
      <label class="eye-icon" for="confirmPassword"><i [class]="ocultar ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="ocultar = !ocultar"></i></label>
      <div *ngIf="ConfirmPassword?.errors && ConfirmPassword?.touched">
        <p *ngIf="ConfirmPassword?.hasError('matchOther')" class="text-danger">La contraseñas no coinciden</p>
      </div>      
    </div>--->  
    <!----Footer de registro--->
    <div class="footer">
      <div class="descript">
          <p>¿Recordaste tu contraseña?</p>
          <a routerLink="/user/login">Ingresar</a>
      </div>
      <div class="boton">
          <button class="btn btn-primary" type="submit" [disabled]="!resetPasswordForm.valid">Aceptar</button>
      </div>
    </div>
</form>
