<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="container-logo">
        <a class="navbar-brand" (click)="navigateTo('/mimu/home')">
          <img id="img-nav" src="../../../../assets/img/mimu.ico" alt="logo" />
          <span id="title-nav"> Mimu Store</span>
        </a>
      </div>
      <div class="container-navigation">
        <div class="nav-icon-group">
          <div class="login">
            <button
              (click)="navigateToLoginOrUser()"
              class="nav-profile nav-icon"
              type="button"
              *ngIf="!isLogged"
            >
              <i class="bi bi-person"></i>
              <span class="nav-text">Iniciar sesión</span>
            </button>
          </div>

          <div class="user">
            <li class="nav-item dropdown" *ngIf="isLogged">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ firstName }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    (click)="navigateToLoginOrUser()"
                    tabindex="”0”"
                  >
                    Perfil
                  </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" (click)="onLogout()" tabindex="”0”">
                    <strong>Cerrar Sesión</strong>
                  </a>
                </li>
              </ul>
            </li>
          </div>
          <button
            class="nav-chart nav-icon"
            (click)="navigateToCart()"
            type="button"
          >
            <i class="bi bi-bag"></i>
            <span class="nav-text" *ngIf="cartQuantity"
              >Carrito (<strong>{{ cartQuantity }}</strong
              >)</span
            >
          </button>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
              Mimu Store
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  aria-current="page"
                  (click)="navigateTo('/mimu/home')"
                  >Inicio</a
                >
              </li>
              <!-----
              <li class="nav-item dropdown">
                <a
                  (click)="navigateTo('/mimu/store')"
                  class="nav-link"
                  role="button"
                >
                  Productos
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" (click)="navigateTo('/mimu/store')"
                      >Ver todos los productos</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item">Another action</a></li>
                  <li><a class="dropdown-item">Something else here</a></li>
                </ul>
              </li>--->
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  (click)="navigateTo('/mimu/store')"
                  >Productos</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" role="button">Contactenos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" role="button">Sobre nosotros</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
