#products {
    min-height:80vh;
    height:max-content;
    padding:50px 10px
}
hr {
    margin-top:50px
}
.present {
    display:flex;
    justify-content:space-between;
    padding:0px 50px
}
.filter {
    display:flex;
    justify-content: center;
}
.filter p {
    padding:0 auto;
    margin:0 auto
}
.form-select {
    padding:0px 5px
}

/*---------------List Product---------------*/
/*
.productList {
    margin-top:25px;
    padding:0px 25px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.product {
    width: 45%;
    height:200px;
    border:1px solid grey;
    margin:15px
}

@media screen and (max-width: 900px) {
    .product {
        width: 80%;
        height:200px;
        margin:15px
    }
}*/
@media screen and (max-width: 500px) {
    /*.productList {
        padding:0px 0px;
    }*/
    #products {
        padding:50px 3px
    }/*
    .product {
        width:95%;
        margin:15px 0px
    }*/
}

/*--------MODAL--------*/

.modal-agregar {
    background-color: #FAFAFA;
    text-align: center;
}
.modal-agregar select {
    width:100%;
    padding:5px
}
.btn-aceptar {
    background:#FF8328;
    color:white;   
}
.form-group {
    width:80%;
    margin:0 auto 10px;
}

.botones {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap
}
#img-base {
    width:200px;
    height:auto;
    margin-top:25px
}
