<footer>
    <div class="contenedor">
      <div class="pagos footer-container">
        <div>
            <p>Aceptamos pagos:</p>
        </div>
      </div>
      <div class="redes footer-container">
        <div>
            <p style="margin-bottom: 10px;">Encuentranos en:</p>
            <div class="icons-redes">
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-pinterest"></i></a>
            </div>
        </div>
      </div>
      <div class="reserved footer-container">
        <p>All rights reserved to Mimu Store.</p>
     </div>
    </div>
</footer>

