<section>
    <h1>Datos de envío</h1>
    
    <div id="addition">
        <li><span>Envío:</span><span>{{delivery}}</span></li>
        <li><span>Subtotal:</span><span>{{price}}</span></li>
        <hr size="1px" color="gray" />
        <li><span>Total:</span><span>{{total}}</span></li>
    </div>

    <div id="payments-methods">
        <h1>Método de pago:</h1>
        <div class="container-methods">
           <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
    </div>

</section>