<section>
    <h1>Datos de envío</h1>
    <span>Dirección de envío</span>

    <div id="adress-select"> 
        <input class="form-check-input" type="radio" name="adress" value="adress" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            {{user.email}}
        </label>
        <button class="btn" type="button"><i class="bi bi-pencil-square"></i></button>
    </div>

    <div id="payments-methods">
        <h1>Método de pago:</h1>
        <div class="container-methods">
            <div class="pay-method"></div>
            <div class="pay-method"></div>
            <div class="pay-method"></div>
        </div>
    </div>

    <div id="addition">
            <li><span>Envío:</span><span>25</span></li>
            <li><span>Subtotal:</span><span>85</span></li>
            <hr size="1px" color="gray" />
            <li><span>Total:</span><span>110</span></li>
    </div>

    <div id="btn-container">
        <button class="btn btn-primary">Continuar con el pago</button>
    </div>
</section>