<section>
    <div id="general">
        <div id="purchase">
            <app-payment-resume></app-payment-resume>
            </div>
        
            <div id="user-info" *ngIf="checkForm">
                <app-payment-methods></app-payment-methods>
            </div>
         
            <div *ngIf="!checkForm" id="payments-methods">
                <h1>Método de pago:</h1>
                <div class="container-methods">
                   <button class="btn btn-primary"  (click)="checkForm=!checkForm">Transferencia bancaria</button>
                   <button class="btn btn-primary" (click)="payToMP()" >Mercado Pago</button>
                   <ngx-paypal id="btn-paypal" [config]="payPalConfig"></ngx-paypal>
                </div>
            </div> 
        
    </div>
    
    <div *ngIf="checkForm" id="back">
        <button class="btn btn-primary" (click)="checkForm=false">Volver</button>
    </div>
</section>
