#btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 500px) {

    section{
       height: 1000px;
    }
    .btn{
        width: 88vw;
        margin: 10px;
    }
    
}