<app-nav-bar></app-nav-bar>
<section class="login-register">
  <div class="box">
    <div class="form">
      <div class="point" routerLink="/mimu/home">
        <div id="logo" class="text-center">
          <p>Mimu Store</p>
        </div>
      </div>
      <div class="title">
        <div class="inicia">
          <p>Inicia sesión</p>
        </div>
        <div class="descript">
          <p>¿No tienes cuenta?</p>
          <a routerLink="/mimu/register">Regístrate</a>
        </div>
      </div>
      <app-login-form></app-login-form>
    </div>
  </div>
</section>
