section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

/* Productos */
.product{
  width: 60%;
}

.product ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  border: 1px solid #000;
  border-radius: 1rem;
  list-style: none;
  padding: 0;
}

.product ul li{
  flex-wrap: wrap;
  border-bottom: 1px solid #000;
}

.product ul li:last-child{
  border: none;
}

.product ul li{
  padding: 1rem;
}

.product ul li, div:not(:first-child){
  flex-basis: 18%;
}

.name{
  padding: 0;
}

.detail{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.image img{
  width: 8em;
  height: 8em;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #000000;
}

.contenedor-cant{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}

.botones{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
  height: 50%;
}

.botones input{
  width: 1.8em;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
}

.botones button{
  width: 1.7em;
  background-color: rgb(240, 255, 250);
  padding: 0;
  border: 1px solid #000;
  border-radius: 100%;
}

.price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn button{
  height: 50px;
  font-size: 1.5em;
}

/* Total Compra */
.checkout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  width: 40%;
  height: 20rem;
  border-radius: 1rem;
  padding: 0.5rem;
  flex: 0.3;
}

.count-price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
  font-size: 1.4rem;
  gap: 1em;
}

.count::before{
  content: "Productos: "
}

.total-price::before{
  content: "Total: "
}

.checkout a{
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: aquamarine;
  padding: 1rem;
  width: 15em;
  border-radius: 1rem;
  color: black;
}

@media screen and (max-width: 720px) {

  section{
    flex-direction: column;
    align-items: center;
  }

  .product{
    align-items: center;
    width: 80%;
    margin: 0;
    gap: 20px;
  }

  .product li{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .name{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0.5rem;
  }

  .name h3{
    margin: 0;
  }

  .detail{
    gap: 0.5rem;
  }

  .checkout{
    width: 100%;
    box-shadow: 5px 3px 10px 2px #000000be;
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0;
    gap: 2em;
  }

  .checkout{
    gap: 10px;
  }

  .count-price{
    width: 100%;
    margin: 0;
    gap: 0;
  }

  .count-price p{
    font-size: 1.3rem;
    text-align: center;
  }

}

@media screen and (max-width: 560px) {

  .product{
    width: 60%;
  }

  .detail{
    flex-direction: column;
    align-items: center;
  }

  .count-price{
    align-items: center;
    width: 50%;
  }

}

@media screen and (max-width: 320px) {

  .product{
    width: 90%;
  }

  .name h3{
    font-size: 20px;
    text-align: center;
  }

  .image img{
    width: 5em;
    height: 5em;
  }

  .checkout a{
    width: 8em;
  }

  .count-price p{
    font-size: 20px;
    text-align: center;
  }

}

