.productos-checkout{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin: 0 0 0 5em;
  /* padding: 1em 2em; */
}

.productos-checkout ul{
  display: flex;
  flex-direction: column;
  width: 20%;
  flex: 3 0;
  justify-content: space-evenly;
  border: 1px solid #000;
  border-radius: 1rem;
  list-style: none;
  padding: 0;
  margin: 0.5rem;
}

.productos-checkout ul li{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #000;
}

.product-name{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 53px;
}

.btn{
  background: none;
  border: none;
  font-size: 25px;
}

.product-image img{
  width: 10em;
  height: 10em;
  border-radius: 8px;
  border: 2px solid #000;
  object-fit: cover;
}

.product-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contenedor-cant{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.cant-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.botones{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
}

.botones input{
  width: 1.8em;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
}

.botones button{
  width: 1.7em;
  background-color: aliceblue;
  padding: 0;
  border: 1px solid #000;
  border-radius: 100%;
}

.productos-checkout ul li:last-child{
  border: none;
}

.productos-checkout ul li div{
  padding: 1rem;
}

.productos-checkout ul li, div:not(:first-child){
  flex-basis: 18%;
}

.checkout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 3;
  height: 20rem;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.checkout a{
  padding: 1rem;
  background-color: aquamarine;
  display: block;
  width: 99%;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.product-count{
  margin-bottom: 1.5rem;
}

.product-count::before{
  content: "Productos: "
}

.total-price::before{
  content: "Total: "
}

.checkout>div{
  font-size: 1.4rem;
  margin: 1rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Product Styles */
/* .product {
  width: 500px;
  height: 150px;
  border: 1px solid grey;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
}

.img-product img {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.data-product {
  text-align: left;
  width: 60%;
  padding-left: 10px;
}

.data-product p {
  margin: 0;
  padding: 0;
}

.product-name {
  font-size: 1.2rem;
}

.contenedor-cant-error{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 0.5em;
}

.cant-group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 0.5em;
}

.botones{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
}

.botones>input{
  width: 1.8em;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
}

.botones>button{
  width: 1.7em;
  background-color: aliceblue;
  padding: 0;
  border: 1px solid #000;
  border-radius: 100%;
}

.error{
  display: flex;
  flex-direction: column;
  padding: 0;
  visibility: hidden;
}

.error>.removeError{
  color: red;
  margin: 0;
}

.error-active{
  padding: 0;
  visibility: visible;
}

.error-active>.removeError{
  color: red;
  margin: 0;
}

#trash {
  border: none;
  background: transparent;
}
#delete {
  font-size: 0.8rem;
  padding: 2px;
  border: none;
}
.heart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heart button {
  background-color: transparent;
  border: none;
  color: red;
}

/* Resumen
#summary-line {
  margin-top: 50px;
}
.total {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.more {
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
}
.more p {
  margin: 0;
  padding: 0;
}
.invite {
  font-weight: bolder;
}
#login {
  width: 200px;
  margin: 10px auto;
}

@media screen and (max-width: 500px) {
  .product {
    width: 100%;
    height: 150px;
    border: 1px solid grey;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  #login {
    width: 100%;
    margin: 10px auto;
  }
  .more,
  summary,
  .total {
    width: 100%;
  }
}*/
