<section>
    <h1>Datos de la cuenta</h1>

    <div id="account-data">
        <p>Titular: <span>Mimu Store</span></p>
        <p>Entidad Bancaria: <span>Banco Mimu</span></p>
        <p>CBU: <span>----------------------</span></p>
        <p>Alias: <span>mimu.Store.alias</span></p>
        <p>Tel: <span>4445555888</span></p>
        <p>Correo: <span>mimustore@email.com</span></p>
    </div>
   
    <div id="help-container">
        <p id="help-text">Una vez realizada la transferencia, por favor, enviar el comprobante vía Mail o WhatsApp,
            junto con sus datos de usuario.
        </p>
    </div>

</section>