<section>
    <h1>Confirme sus datos</h1>

    <div id="user-info"> 
        <div class="user-data">
            <h2>Nombre:</h2>
            <span>{{user.firstName}} {{user.lastName}}</span>
        </div>
        <div class="user-data">
            <h2>Correo:</h2>
            <span>{{user.email}}</span>
        </div>
        <div class="user-data">
            <h2>Tel./Cel.:</h2>
            <span>{{user.contact}}</span>
        </div>
        <div class="user-data">
            <h2>Dirección:</h2>
            <div id="adress-select">
                <input class="inputs" type="text" name="adress" value={{user.address}} [disabled]="!edit">
                <button class="btn" type="button" *ngIf="!edit" (click)="edit=!edit"><i class="bi bi-pencil-square"></i></button>
                <button class="btn" type="button" *ngIf="edit" (click)="edit=!edit"><i class="bi bi-check2-square"></i></button>
            </div>
        </div>
    </div>
    <div id="confirm-container">
        <button class="btn btn-primary" (click)="confirmData()">Confirmar</button>
    </div>
   
</section>