
section{
    text-align: left;
}


@media screen and (max-width: 500px) {


h1{
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    margin: 20px 10px ;
}

span{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    margin: 20px 10px ;
}

#payments-methods{
    margin: 80px 0px;
}

.container-methods{
    display: flex;
    justify-content: space-around;
}

.pay-method{
    width: 50px;
    height: 50px;
    background-color: aqua;
}

#addition{
    margin: 80px 10px;
}
li{
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 88vw;
    margin: 10px;
}

}