<section>
  <div class="all-components">
    <app-banner></app-banner>

    <div>
      <h2>Nuestros Productos</h2>
    </div>
    <app-notepads-carrusel></app-notepads-carrusel>

    <app-products-carrusel
      [visibleCarrusel]="true"
      [title]="carrusel1"
    ></app-products-carrusel>
    <app-products-carrusel
      [visibleCarrusel]="true"
      [title]="carrusel2"
    ></app-products-carrusel>

    <div class="container store-link">
      <button (click)="navigateTo('/mimu/store')" class="btn btn-primary">
        Ir a la tienda
      </button>
    </div>
  </div>
</section>
