<section class="login-register">
    <div class="box">
        <div class="form">
            <div class="point" routerLink="/home">
                <div id="logo" class="text-center">
                    <p>Mimu Store</p>
                </div>
            </div>
            <div class="title">
                <div class="inicia">
                  <p>Recupera tu contraseña</p>
                </div>        
              </div>   
            <app-recover-form></app-recover-form>
        </div> 
    </div>       
</section>
