<form  (ngSubmit)="onUpdate()" class="data">
    <div class="name-lastName item">
        <div class="name">
          <label for="firstName">Nombre</label><br>
          <input class="input-name" type="text" name="firstName" [(ngModel)]="editUser.firstName" [disabled]="!edit">
        </div>
        <div class="lastName">
          <label for="lastName">Apellido</label><br>
          <input class="input-name" type="text" name="lastName" [(ngModel)]="editUser.lastName" [disabled]="!edit">
        </div>
    </div>
    <div class="item">
        <label for="email">Email</label><br>
        <input class="inputs" type="email" name="email" placeholder={{editUser.email}} disabled>
    </div>
    <div class="item">
        <label for="address">Dirección</label><br>
        <input class="inputs" type="text" name="adress" [(ngModel)]="editUser.address" [disabled]="!edit">
    </div>
    <div class="item">
        <label for="contact">Teléfono</label><br>
        <input class="inputs" type="text" name="contact" [(ngModel)]="editUser.contact" [disabled]="!edit">
    </div>
    <div class="item">
        <label for="password">Contraseña</label><br>
        <input class="inputs" type="password" name="password" placeholder="***********" disabled>
    </div>
    <div class="buttons">
        <button class="btn btn-outline-danger" (click)="edit=!edit">Modificar los datos </button>
        <button *ngIf="edit"class="btn btn-success">Guardar cambios</button>              
    </div> 
      
         

</form>
